* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

container {
  min-height: 100vh;
  width: 100%;
}

body {
  background-color: rgba(0, 0, 0);
}

#header {
  display: flex;
  padding: 20px;
  align-items: center;
}

#header img {
  height: 45px;
  display: flex;
  position: absolute;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 30px;
  color: white;
  margin: auto;
}

main {
  padding: 80px 0 0 0;
  display: flex;
  min-height: 100vh;
  position: relative;
  justify-content: center;
}

#character {
  width: 1050px;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  margin-top: 80px;
}

#robot {
  height: 380px;
  width: 400px;
  display: flex;
  position: absolute;
  top: 15%;
  left: 0;
}

#greetings {
  width: 480px;
  height: 160px;
  display: flex;
  z-index: 0;
  filter: contrast(70%);
  position: absolute;
  right: 270px;
  top: 0;
}

#dialogue_box {
  width: 480px;
  height: 160px;
  display: flex;
  z-index: 0;
  position: relative;
}

#dialogue {
  color: rgb(0, 0, 0);
  display: flex;
  max-width: 480px;
  text-align: justify;
  z-index: 1;
  font-size: 20px;
  position: absolute;
  padding: 15px;
}

main input {
  height: 35px;
  width: 530px;
  display: flex;
  border: 3px solid rgb(82, 82, 82);
  border-radius: 10px;
  position: absolute;
  top: 35%;
  right: 0;
}

#dialogue {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
