* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
}

body {
  background-color: oklch(20.5% 0 0);
}

#header {
  display: flex;
  padding: 20px 25px 0px 25px;
  align-items: center;
}

#header img {
  height: 45px;
  filter: brightness(90%);
}

main {
  width: 100vw;
  flex: 1;
  padding-left: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 0.4rem;
}

#center_elements {
  display: flex;
}

#character {
  display: flex;
  position: relative;
  height: 350px;
  width: 300px;
}

#robot {
  height: 350px;
  width: 300px;
  position: absolute;
  left: 3.5rem;
  top: 4rem;
}

#center_right {
  width: 600px;
  height: 350px;
  display: flex;
  flex-direction: column;
  position: relative;
}

#dialogue {
  display: flex;
  position: relative;
  width: 600px;
  min-height: 125px;
}

#dialogue_box {
  height: 125px;
  width: 600px;
  z-index: 0;
  position: absolute;
  right: 0;
  top: 0;
}

#dialogue_text {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#dialogue_text {
  color: rgb(0, 0, 0);
  display: flex;
  max-width: 580px;
  text-align: justify;
  z-index: 1;
  font-size: 21px;
  position: relative;
  padding-top: 1.25rem;
  padding-left: 2.5rem;
}

#text_input {
  height: 35px;
  width: 520px;
  display: flex;

  position: absolute;
  top: 45%;
  right: 0;
}

main input {
  height: 35px;
  width: 520px;
  padding: 0 17px 0 17px;
  line-height: 35px;
  display: flex;
  position: relative;
  background-color: #eae6d9;
  color: #1a1a1a;
  border: 1px solid #343434;
  z-index: 0;
  border-radius: 7px;
}

#hover_wrapper {
  display: flex;
  position: relative;
  justify-content: flex-end;
  width: 275px;
  height: 350px;
}

#hover_wrapper img {
  width: 1.8rem;
  height: 1.8rem;
  position: absolute;
  left: 0;
  top: 45.7%;
}

#hover_wrapper img:hover + #warning {
  display: flex;
}

#warning {
  display: none;
  justify-content: flex-start;
  width: 240px;
  height: 160px;
  align-self: flex-end;
  position: relative;

  background-image: url(assets/dialogue_box_4.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}

#warning_text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 0.8em;
  text-align: justify;
  padding: 0.9em;

  position: absolute;
  left: 0;
  top: 0;
  padding: 2em 0.5em 1em 0.5em;
}

input:not(:placeholder-shown) {
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  color: black;
  text-transform: uppercase;
  font-weight: 600;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

input::placeholder {
  font-family: sans-serif;
  font-size: 16px;
  display: flex;
  position: absolute;
  top: 22%;
}

input:focus {
  outline: none;
}

ul {
  position: absolute;
  width: 525px;
  top: 100%;
  left: 0;
  padding-left: 0.05rem;
  padding-right: 0.35rem;
}

li {
  height: 30px;
  max-width: 525px;
  display: flex;
  gap: 5px;
  background-color: #eae6d9;
  padding: 5px 5px 5px 10px;
  border-bottom: 1px solid black;
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  color: black;
  font-weight: 400;
  word-spacing: -2px;
}

.movie_title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.movie_release_date {
  white-space: nowrap;
  flex-shrink: 0;
}

li:hover {
  background-color: #cfe0e8;
  cursor: pointer;
}

footer {
  display: flex;
  width: 100vw;

  justify-content: flex-end;
  align-items: center;
  gap: 0.75rem;
  padding-right: 0.5rem;
}

footer p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 0.8em;
  color: white;
}

#logos {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

#logo_git {
  height: 20px;
  width: 20px;
  background-image: url(assets/github-logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#logo_linkedin {
  height: 45px;
  width: 50px;
  background-image: url(assets/linkedin-logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
