* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

container {
  min-height: 100vh;
  width: 100%;
}

body {
  background-color: oklch(20.5% 0 0);
}

#header {
  display: flex;
  padding: 20px 25px 0px 25px;
  align-items: center;
  justify-content: space-between;
}

#header img {
  height: 45px;
  display: flex;
  filter: brightness(90%);
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 30px;
  color: white;
  display: flex;
  filter: brightness(90%);
}

main {
  padding-top: 80px;
  display: flex;
  min-height: 100vh;
  position: relative;
  justify-content: center;
}

#character {
  width: 890px;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  margin-top: 80px;
  margin-right: 150px;
}

#robot {
  height: 350px;
  width: 300px;
  display: flex;
  position: absolute;
  top: 10%;
  left: 0;
}

#greetings {
  width: 650px;
  display: flex;
  z-index: 0;
  position: absolute;
  right: 0;
  top: 0;
}

#dialogue_box {
  width: 650px;
  display: flex;
  z-index: 0;
  position: relative;
}

#dialogue {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#dialogue {
  color: rgb(0, 0, 0);
  display: flex;
  max-width: 580px;
  text-align: justify;
  z-index: 1;
  font-size: 21px;
  position: absolute;
  top: 46%;
  transform: translateY(-50%);
  right: 25px;
}

#text_input {
  height: 35px;
  width: 520px;
  display: flex;
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 20px;
}

main input {
  height: 35px;
  width: 520px;
  padding: 0 17px 0 17px;
  line-height: 35px;
  display: flex;
  position: relative;
  background-color: #eae6d9;
  color: #1a1a1a;
  border: 1px solid #343434;
  z-index: 0;
  border-radius: 7px;
}

input:not(:placeholder-shown) {
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  color: black;
  text-transform: uppercase;
  font-weight: 600;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

input::placeholder {
  font-family: sans-serif;
  font-size: 16px;
  display: flex;
  position: absolute;
  top: 22%;
}

input:focus {
  outline: none;
}

ul {
  position: absolute;
  width: 100%;
  top: 100%;
  padding: 0 0.5px;
}

li {
  height: 30px;
  max-width: 100%;
  display: flex;
  gap: 5px;
  background-color: #eae6d9;
  padding: 5px 5px 5px 10px;
  border-bottom: 1px solid black;
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  color: black;
  font-weight: 400;
  word-spacing: -2px;
}

.movie_title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.movie_release_date {
  white-space: nowrap;
  flex-shrink: 0;
}

li:hover {
  background-color: #cfe0e8;
  cursor: pointer;
}
