* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body {
  background-color: oklch(20.5% 0 0);
}

#page_header {
  display: flex;
  padding: 20px 25px 0px 25px;
  align-items: center;
  justify-content: space-between;
}

#page_header img {
  height: 45px;
  display: flex;
  filter: brightness(90%);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
}

#first_section {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

#character {
  display: flex;
  width: 600px;
  height: fit-content;
  position: relative;
  align-self: flex-end;
}

#dialogue {
  width: 310px;
  height: 160px;
  background-image: url(assets/dialogue_box_2.png);
  background-image: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: 20px;
  top: -60px;
  z-index: 1;
}

#robot_sitting {
  height: 290px;
  display: flex;
}

#dialogue_text {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#dialogue_text {
  color: rgb(0, 0, 0);
  text-align: justify;
  hyphens: auto;
  font-size: 1.2rem;
  padding: 0.5rem 1rem 2rem 1rem;
}

#chosen_movie {
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#choice {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;

  color: #ff8c00;
  font-size: 1.8rem;
}

#chosen_movie_name {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;

  color: white;
  font-size: 1.3rem;
  max-width: 300px;
  margin-top: 1rem;
  text-align: center;
  text-justify: justify;
}

#chosen_movie_poster {
  display: flex;
  height: 300px;
  max-width: 200px;

  outline: 1px solid rgba(255, 255, 255, 0.15);
  outline-offset: -1px;
  border-radius: 8px;
}
#recommended_films {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
}

#recommendations_title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;

  color: #ff8c00;
  font-size: 1.8rem;

  margin-top: 120px;
  margin-bottom: 120px;
}

.cards {
  width: 95%;
  display: flex;
  justify-content: space-between;
}

.card {
  display: grid;
  grid-template-rows: 2.6rem 1fr 2.2rem;
  gap: 1rem;

  justify-items: center;
  align-items: center;
}

.title_wrapper {
  display: flex;
  height: 2.6rem;
  max-width: 300px;
  align-items: center;
  justify-content: center;
}

.card p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;

  color: white;
  font-size: 1.3rem;

  text-align: center;

  /* formatando o título para não quebrar o alinhamento dos elementos */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card p {
  cursor: default;
}

.card p:hover {
  white-space: normal;
}

.poster_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards img {
  height: 300px;
  width: 200px;

  object-fit: cover;
  margin: 0;

  outline: 1px solid rgba(255, 255, 255, 0.15);
  outline-offset: -1px;
  border-radius: 8px;
}

.card span {
  display: flex;
  height: 2.2rem;
  justify-content: center;
  align-items: center;
  gap: 0.25em;
}

.card span:hover {
  cursor: pointer;
}

.card small {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 0.8em;
  color: rgba(255, 255, 255, 0.748);
}

.card button {
  all: unset;
  width: 0.85rem;
  height: 0.85rem;
  background-image: url(assets/add-ellipse-svgrepo-com.svg);
  filter: contrast(35%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.more_info {
  align-self: center;
  background-color: rgba(255, 255, 255, 0.6);
  width: 60%;
  border-radius: 5px;
  padding: 1rem;
  margin-top: 5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.more_info_header {
  width: 100%;
  height: 70px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.25rem;
}

.more_info_header img {
  height: 4.5rem;
  width: 4.5rem;
}

.more_info_quote {
  font-size: 1.05rem;
  flex: 1;
  text-align: justify;
  font-family: "Montserrat";
  font-weight: 500;
}

.more_info_title {
  font-size: 1rem;
  text-justify: justify;
  font-family: "Montserrat";
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0.75rem;
}

.more_info_overview {
  font-size: 0.9rem;
  text-align: justify;
  font-family: "Montserrat";
  font-weight: 500;
  max-width: 30rem;
}

.more_info_return {
  font-size: 0.8rem;
  text-justify: justify;
  font-family: "Montserrat";
  font-weight: 500;
  text-decoration: underline;
  margin-top: 1.5rem;
}

.more_info_return:hover {
  cursor: pointer;
}

.more_info_p {
  font-size: 0.9rem;
  text-justify: justify;
  font-family: "Montserrat";
  font-weight: 500;
  max-width: 30rem;
}
